/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
Backend/SpringServices/.idea/*
*.iws
*.iml
*.ipr

### NetBeans ###
.idea/*

Backend/SpringServices/nbproject/private/*
Backend/SpringServices/build/*
Backend/SpringServices/nbbuild/*
Backend/SpringServices/dist/*
Backend/SpringServices/nbdist/*
Backend/SpringServices/.nb-gradle/*
Backend/SpringServices/target/*

### NodeServices ###
Backend/NodeServices/node_modules/*
Backend/NodeServices/.idea/*

### React ###
Frontend/node_modules/*
Frontend/.idea/*